<div>
  <div>
    <h1>
      List of possible favorites
    </h1>
  </div>
</div>

<hr>

<% if current_user != nil %>
<div>
  <div>
    <h2>
      Add a new favorite
    </h2>

    <form action="/insert_favorite" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="song_id_box">
          Song
        </label>

        <input type="text" id="song_id_box" name="query_song_id">
      </div>

      <button>
        Create favorite
      </button>
    </form>
  </div>
</div>
<% end %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Song
        </th>


        <th>
        </th>
      </tr>

      <% @list_of_songs.each do |a_song| %>
      <tr>
        <td>
          <%= a_song.id %>
        </td>

        <td>
          <%= a_song.title %>
        </td>

        <td>
          <a href="/favorites/<%= a_song.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
