<div>
  <div>
    <h1>
      List of possible favorites
    </h1>
  </div>
</div>

<hr>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Song
        </th>

        <th>
          Artist
        </th>

      </tr>

      <% @list_of_songs.each do |a_song| %>
      <tr>
        <td>
          <%= a_song.id %>
        </td>

        <td>
          <%= a_song.title %>
        </td>

        <td>
          <%= a_song.artist_name %>
        </td>
        
        <td>
        <% if current_user != nil %>
          <div>
            <div>
                <button>
                  Add to favorites
                </button>
          </div>
        </td>
          <% end %>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
