<h1><%= @the_user.email %></h1>

<dl>
  <dt>
    ID
  </dt>
  <dd>
    <%= @the_user.id %>
  </dd>


<h2>Favorite songs</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
    </th>
  </tr>

  <% @the_user.favorites.each do |a_favorite| %>

    <tr>

      <td>
        <%= a_favorite.song.title %>
      </td>

      <td>
        <a href="/songs/<%= a_favorite.song.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
